
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.jumbotron {
     width:80%;
    height: 100%;
    background-color: white;
      overflow: auto;
position: absolute;
top: 10%;
left:10%;
}
.box {
    width: 100%;
    height: 96.5px;
    background:url(b2jpg.jpg);

    position: absolute;
top: 0%;
left:0%;
}
#h1 {
    color: white;
    padding-left: 30%;
    font-size: 50px;
}
body {
background:url(b3.jpg);}

h3 {padding-top: 7px;
padding-left: 20px;}
p {
    padding-left: 15px;
}
.s {background-color: #f96dc1;
    width: 100%;
    height: 5%;
     box-shadow: 5%;
}
.t {
    background-color: #fffdc9;
    width: 100%;
    height: 5%;
     box-shadow: 5%;
}